@font-face {
    font-family: "Sohne";
    src: url("Sohne/Sohne-Mager.otf")
}
@font-face {
    font-family: "Sohne bold";
    src: url("Sohne/Sohne-Halbfett.otf")
}

@font-face {
    font-family: "SohneBold";
    src: url("Sohne/Sohne-Fett.otf")
}


html {
    overflow: hidden;
    width : 1920px;
    height: 1080px;
    font-family: Sohne;

}
body{
    overflow: hidden;
    width : 1920px;
    height: 1080px;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* ==================================== */
/* ==================================== */
/*          Linha do Tempo             */
/* ==================================== */
/* ==================================== */

.appContainer{
    position: relative;
    width : 1920px;
    height: 1080px;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden;
}

.pagesContainer{

    position: absolute;
    background-color: #3D3D3D;
    height: 1080px;
    display: flex;
    transition: transform 500ms;
    overflow-y: hidden;
    overflow-x: hidden;

}
/* controls btns */
.btn{
    width: 100px;
    Height: 100px;
    position: absolute;
    transition: transform 300ms;
    transform: translateX(0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.next{
    right: 70px;
    top : calc(50% - 50px);
}
.next.off{
    transform: translateX(150px);
}
.previous{

    left: 70px;
    top : calc(50% - 50px);
}

.previous.off{
    transform: translateX(-150px);
}

.next .btnIcon{

    width: 40px;
    height: 40px;
    border-right: solid 10px white;
    border-top: solid 10px white;
    transform: rotate(45deg);
    margin-left: -15px;

}

.previous .btnIcon{

    width: 40px;
    height: 40px;
    border-right: solid 10px white;
    border-top: solid 10px white;
    transform: rotate(-135deg);
    margin-right: -15px;

}



/* ============== */
/* INDICADORES */
/* ============== */

.indicatorContainer{

    width: calc(100% - 20px);
    height: 12px;
    position: absolute;
    top: 10px;
    left : 10px;
    display: flex;
    justify-content: space-between;
    transition: transform 300ms;
    transform: translateY(0);

}
.indicatorContainer.off{

    transform: translateY(-100px);

}
.indicatorBg{
    height: 10px;
    background-color: #3D3D3D;
    opacity: 0.5;
}
.indicator{
    height: 10px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 500ms;
    transform-origin: left center;
}
.indicator.on{
    transform: scaleX(1);
    transition: transform 500ms;
}
.indicator.right{
    transform-origin: right center;
}


.headerContainer{

    position: absolute;
    top: 0px;
    width: 100%;
    height: 500px;
    opacity: 1;
    transform : translateY(0);
    transition: opacity 300ms, transform 300ms;
}

.headerContainer.off{

    transform : translateY(-100px);
    opacity: 0;

}

.headerBg{

    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4)  0%, rgba(26,25,25,0.00) 50%);
    position: absolute;
    height: 100%;
    width: 100%;
}

.headerTitle{
    color: white;
    position: absolute;
    top: 60px;
    left : 60px;
    font-size: 70px;
    max-width: 1420px;
}

.headerBtn{
    position: absolute;
    top: 60px;
    right: 60px;
    background-color: #3D3D3D;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
}

.exitIcon {
    width: 40px;
}

/* ==================================== */
/* ==================================== */
/*               Pages                  */
/* ==================================== */
/* ==================================== */

.page{
    height: 100%;
    position: absolute;
    /* transition: transform 500ms; */
}

/* ============== */
/*     Overlay    */
/* ============== */

.imagePreview{
    position: absolute;
}

.imagePreview.content{
    width: 100%;
    height: 100%;
}

.overlayContainer{
    height: 100%;
    width: 100%;
}
.overlay{

    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    display: block;
    transition: opacity 400ms;

}
.overlay.off{
    opacity: 0;
}
.overlay.displayNone{
    display: none !important;
}

.overlayContent{
    top: 235px;
    left: 255px;
    position: absolute;
}

.overlayTitle{
    font-size: 70px;
    color: #E4E4E4;
    width: 1000px;
    position: relative;
}
.overlayBG{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
}
.overlayLine{
    margin-top: 50px;
    width: 550px;
    height: 10px;
    background-color: white;
}
.overlayIcon{
    width: 110px;
    height: 110px;
    background-color: white;
    position: absolute;
    top: 50px;
    /* left : 250px */
}

.overlayIconContaine{
    
    width: 550px;
    height: 230px;
    z-index: 9999;
    position: absolute;
    /* top: 550px;
    left: 255px; */
    position: relative;

}

.overlayIcon .right{
    border-top: 10px solid #1A1819;
    width: 15px;
    height: 15px;
    border-right: 10px solid #1A1819;
    position: absolute;
    top: 15;
    right: 15;
}
.overlayIcon .left{
    border-bottom: 10px solid #1A1819;
    border-left: 10px solid #1A1819;
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 15;
    left: 15;
}
.iconText{

    color: white;
    position: absolute;
    font-size: 40px;
    top: 90px;
    left : 160px

}

/* ==================================== */
/* ==================================== */
/*            Content Page              */
/* ==================================== */
/* ==================================== */

.contentBackground{

    width: 730px;
    height: 730px;
    background-color: #282828;
    position: absolute;
    top: 100px;
    left: 210px;
    padding : 50px;
    transition: width 300ms, height 300ms, top 300ms, left 300ms;
}

.contentBackground.open{

    width: calc(100% - 100px);
    height: calc(100% - 100px);
    background-color: #282828;
    top: 0px;
    left: 0px;
    padding : 50px;
    
}

.headerContet{
    display: flex;
}

.open .contentOpen{
    opacity: 0;
 }

 .contentOpen{
  opacity: 1;
  transition : opacity 200ms;
 }

 .contentContainer{

    overflow: scroll;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    scroll-behavior: smooth;

 }

/* -----------text---------- */

.textConainer{

    width: 730px;
    max-height: 730px;
    min-height: 730px;
    position: relative;
    top: 100px;
    left: 210px;
    padding : 50px;
    transition: width 300ms, height 300ms, top 300ms, left 300ms;    
}

.textConainer.open{
    top: 0px;
    left: 0px;
    max-height: 99999px;
    width: 830px;
}


.textConainer .overlayTitle{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    font-family: SohneBold;
}

.textConainer .overlayLine{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.textConainer .contentText{
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-size: 34;
    max-height: 250px;
    transition: max-height 500ms;
}

.open .textConainer .contentText{
    max-height: 99999px;
}

.textConainer .contentOpen{

    color: white;
    bottom: 50px;
    position: absolute;
    font-size: 40;
}


/* -----------btn---------- */

.open .closeBtn{

    transform: scale(1);
    transition-delay: 200ms;
}

.closeBtn{
    transition-delay: 0ms;
    transform: scale(0);
    transition: transform 100ms;
   
    width: 75px;
    height: 75px;
    background-color: #3D3D3D;
    position: absolute;
    top: 55px;
    right: 55px;
    border-radius: 55px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.open .bottomBar{
    width: 100%;
    height: 60px;
    background-color:#282828;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 25px;
}

.botomBarIcon{
    height: 40px;
    transition: transform 500ms;
    transform: rotate(180deg);
}

.up .botomBarIcon{
    transform: rotate(0deg);
    
}

.bootomBartext{

    transition: opacity 500ms;
    opacity: 0;
    color: white;
    font-size: 24px;

}

.up .bootomBartext{

    opacity: 1;

}

/* -----------------image */

.contentImageContainer{
    
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    margin-top : 100px;
    transition: opacity 100ms;
}

.open .contentImageContainer{
    opacity: 1;
    transition: opacity 500ms;
}

.open .bodyContet{
    display: flex;
    flex-flow: column;
}

.bodyContet{
    display: none;
}

.contentImageContainer.cover{
    margin-top: 50px;
}

.contentImageContainer .image{
    width : 560px;
}

.contentImageContainer .legend{
    margin-top: 20px;
    color: white;
    font-size : 24px;
    width: 560;
}